body{
    background-image: url("purp.png");
    background-size: cover;
    background-position: center;
}

canvas{
    size: 300px;
    border: 5px pink dotted;
}


.btn btn-info{
    size: 50px;
}